@{
    var phrases = new List<string>
    {
        "We're hiring, you can go to https://helloasso.welcomekit.co or, perhaps, just send your application directly from this console... Surprise us !",
        "See anything wrong with that code ? We're hiring on https://helloasso.welcomekit.co",
        "If you had the curiosity to check that bit of code, you should know that we're hiring and have the curiosity to know more about you. check our offers at https://helloasso.welcomekit.co"
    };
}

<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <!--

        ::::::,,`
       :::::::;:,,
      ::::::;;;;,,,
     ::::,   .;;;,,    ,+#           '+# #+.
     :::;      ;;,,,   ,+#           '+# #+.
    `::;.       `,,,   ,+#,##   ###  '+# #+.  +##,  ,###:  `###   ###`  :##'
    ,:;;`        ,,,   ,++#++. ++'++ '+# #+. #+#++' ;##++. ++##: ++##+ #++#+#
    ::;;`        ,,,   ,+# #+,'++ ++;'+# #+.`++ `++    #+'`++`   ++.   ++  ++
    ,:;;`        ,,,   ,+# #+,#+++++#'+# #+.:+#  ++ ;++++' #+++; #++++ ++  ++`
     ::;,       ;,,,   ,+# #+,+++    '+# #+.,+#  ++ ++ #+'  `#++   +++ ++  ++
     :::;      ;;,,:   ,+# #+, ++,:# '++ #++ ++:#+# ++.++# #.,++ #,.++ #++'++
     `:::;   ;;;:,:    :## ##, :+++#  ++',++ `+++#  #++:##`#+++` #+++,  #++#
      ;:::::;;;;,:`
       ::::::::::`
         ;::::::

    @Html.Raw(phrases.OrderBy(p => Guid.NewGuid()).FirstOrDefault())
    -->

    <title>@ViewBag.MetaTitle</title>

    <meta property="og:url" content="@Context.Request.Host@Context.Request.Path" />

    @if (!string.IsNullOrEmpty(ViewBag.MetaOgType))
    {
        <meta property="og:type" content="@ViewBag.MetaOgType" />
    }
    @if (!string.IsNullOrEmpty(ViewBag.MetaTitle))
    {
        <meta property="og:title" content="@ViewBag.MetaTitle" />
    }

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="HelloAsso" />
    <link rel="shortcut icon" href="/Areas/HelloAsso/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link href="/css/v2/vendors/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/v2/hellobase/helloasso-template.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Organization",
        "url": "https://www.helloasso.com",
        "logo": "https://www.helloasso.com/Areas/HelloAsso/img/helloasso-logo.png",
        "name": "HelloAsso",
        "sameAs": ["https://www.facebook.com/helloasso",
        "https://twitter.com/helloasso",
        "https://www.youtube.com/channel/UCYz5xk40Yayisba7qTjHAdQ"]
        }
    </script>
</head>
<body>
    <div id="header">
        <div class="new-header">
            <div class="helloasso-header">
                @RenderSection("overheader", false)
                @Html.Partial("Shared/_Header");
            </div>
        </div>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    @if (this.ViewBag.HideFooter == null)
    {
        @Html.Partial("Shared/_Footer")
    }
</body>
</html>